<script>
import { getContainerClasses,
    getRadioCheckInputClasses,
    getRadioCheckLabelClasses,
    getRadioCheckContainerClasses } from '../utils';
import { ADD_MODEL_PROPERTY, 
    SET_MODEL_PROPERTY, 
    FORM_SUBMITTING,
    FORM_SUBMITTING_COMPLETE,
    FORM_SUBMITTING_ERROR } from '../constants';

export default {
    name: 'FormlyCheckbox',
    props: {
        name: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: true
        },
        options: {
            // TODO: Can this be an array of objects
            type: Array,
            required: true
        },
        width: {
            type: Number,
            default: 12
        }
    },
    methods: {
        containerClasses() {
            let baseClasses = getContainerClasses(this.$formlyUiFramework, this.width);
            return baseClasses.concat(' formly-form-check-group');
        },
        checkContainerClasses() {
            return getRadioCheckContainerClasses(this.$formlyUiFramework, true);
        },
        checkClasses() {
            return getRadioCheckInputClasses(this.$formlyUiFramework);
        },
        labelClasses() {
            return getRadioCheckLabelClasses(this.$formlyUiFramework);
        },
        updateFormlyModel() {
            const { name, selectedValues } = this;
            this.$formlyEvents.$emit(SET_MODEL_PROPERTY, {
                target: name,
                value: selectedValues
            });
        }
    },
    data() {
        return {
            isSubmitting: false,
            selectedValues: []
        };
    },
    created() {
        this.$formlyEvents.$on(FORM_SUBMITTING, () => this.isSubmitting = true);
        this.$formlyEvents.$on([FORM_SUBMITTING_COMPLETE, FORM_SUBMITTING_ERROR], () => this.isSubmitting = false);        
    },
    mounted() {
        this.$formlyEvents.$emit(ADD_MODEL_PROPERTY, this.name);
    },
    beforeDestroy() {
        this.$formlyEvents.$off([
            FORM_SUBMITTING,
            FORM_SUBMITTING_COMPLETE,
            FORM_SUBMITTING_ERROR
        ]);
    }
};
</script>

<template>
<div :class="containerClasses()">
    <fieldset :disabled="isSubmitting">
        <p>
            {{label}}
        </p>
        <div v-for="(o, index) in options" 
             :key="o.value.replace(' ', '')"
             :class="checkContainerClasses()">
            <input v-model="selectedValues"
                   @change="updateFormlyModel"
                   :id="`${name}${index}`"
                   :value="o.value"
                   type="checkbox"
                   :name="name"
                   :class="checkClasses()"
                   :aria-labelledby="`${name}${index}Label`"/>
            <label :for="`${name}${index}`"
                   :class="labelClasses()">
                   {{o.text || o.value}}
            </label>
        </div>
    </fieldset>
</div>
</template>
