<script>
import { getFreeTextClasses } from '../utils';

export default {
    name: 'FormlyFreeText',    
    props: { 
        text: {
            type: String,
            required: true
        }
    },
    methods: {
        containerClasses() {
            return getFreeTextClasses(this.$formlyUiFramework);
        }
    }
};
</script>

<template>
<div :class="containerClasses()">
    <p>
        {{text}}
    </p>
</div>
</template>