<script>
	import FormlyLabel from './Label.vue';
	import {
		getInputClasses,
        getContainerClasses,
        getValidationClasses
	} from '../utils';
	import {
		ADD_MODEL_PROPERTY,
		SET_MODEL_PROPERTY,
		FORM_SUBMITTING,
		FORM_SUBMITTING_COMPLETE,
		FORM_SUBMITTING_ERROR,
		ADD_MODEL_PROPERTY_VALIDATION
	} from '../constants';

	export default {
		name: 'FormlyInput',
		components: {
			FormlyLabel
		},
		props: {
			type: {
				type: String,
				default: 'text'
			},
			placeholder: {
				type: String,
				default: ''
			},
			name: {
				type: String,
				required: true
			},
			label: {
				type: String,
				required: true
			},
			width: {
				type: Number,
				default: 12
			},
			validation: {
				type: [Object, Boolean],
				default: false
			}
		},
		methods: {
			containerClasses() {
				return getContainerClasses(this.$formlyUiFramework, this.width);
			},
			inputClasses() {
				return getInputClasses(this.$formlyUiFramework);
			},
			updateModel() {
				const {value, name} = this;
				this.$formlyEvents.$emit(SET_MODEL_PROPERTY, {
					target: name,
					value
				});
			},
            updateValidationError(error) {
				this.validationError = error;
            },
            validate(rule) {
				console.log('wakka');
                return true;
            },
            validationClasses() {
				return getValidationClasses(this.$formlyUiFramework);
            }
		},
		data() {
			return {
				isSubmitting: false,
				value: '',
				validationError: ''
			};
		},
		created() {
			this.$formlyEvents.$on(FORM_SUBMITTING, () => this.isSubmitting = true);
			this.$formlyEvents.$on([FORM_SUBMITTING_COMPLETE, FORM_SUBMITTING_ERROR], () => this.isSubmitting = false);
		},
		beforeDestroy() {
			this.$formlyEvents.$off([
				FORM_SUBMITTING,
				FORM_SUBMITTING_COMPLETE,
				FORM_SUBMITTING_ERROR
			]);
		},
		mounted() {
			this.$formlyEvents.$emit(ADD_MODEL_PROPERTY, this.name);
			if (this.validation)
				this.$formlyEvents.$emit(ADD_MODEL_PROPERTY_VALIDATION, {
					target: this.name,
                    validation: this.validation
                });
		}
	};
</script>

<template>
    <div ref="name"
         :class="containerClasses()">
        <FormlyLabel :text="label" :inputId="name"/>
        <input :aria-labelledby="`${name}Label`"
               :class="inputClasses()"
               :disabled="isSubmitting"
               :id="name"
               :name="name"
               :placeholder="placeholder"
               :type="type"
               @input="updateModel"
               v-model="value"/>
        <span v-if="this.validation"
              :class="validationClasses()">
            {{validationError}}
        </span>
    </div>
</template>
