<script>
export default {
    name: 'FormlyLabel',    
    props: { 
        text: {
            type: String,
            required: true
        },
        inputId: {
            type: String,
            required: true
        }
    }
};
</script>

<template>
<label :id="`${inputId}Label`"
       :for="inputId">
       {{text}}
</label>
</template>