<script>
export default {
    name: 'FormlyLoader'
};
</script>

<template>
<div class="formly-loader">
    <div class="lds-ripple"><div></div><div></div></div>
    <p>
        Preparing form...
    </p>
</div>
</template>

<style lang="scss">
div.formly-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

    p {
        font-weight: 200;
        font-size: 2rem;
    }

    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 128px;
        height: 128px;

        div {
            position: absolute;
            border: 4px solid #fb8c00;
            opacity: 1;
            border-radius: 50%;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

        div:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
    @keyframes lds-ripple {
        0% {
            top: 56px;
            left: 56px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: -1px;
            left: -1px;
            width: 116px;
            height: 116px;
            opacity: 0;
        }
    }
}
</style>
