<script>
	import FormlyLabel from './Label.vue';
	import {getInputClasses, getContainerClasses} from '../utils';
	import {
		ADD_MODEL_PROPERTY,
		SET_MODEL_PROPERTY,
		FORM_SUBMITTING,
		FORM_SUBMITTING_COMPLETE,
		FORM_SUBMITTING_ERROR
	} from '../constants';

	export default {
		name: 'FormlySelect',
		components: {
			FormlyLabel
		},
		props: {
			placeholder: {
				type: String,
				default: 'Please select'
			},
			name: {
				type: String,
				required: true
			},
			label: {
				type: String,
				required: true
			},
			options: {
				// TODO: Can this be an array of objects
				type: Array,
				required: true
			},
			width: {
				type: Number,
				default: 12
			}
		},
		methods: {
			containerClasses() {
				return getContainerClasses(this.$formlyUiFramework, this.width);
			},
			selectClasses() {
				return getInputClasses(this.$formlyUiFramework);
			},
			updateModel() {
				const {selectedValue, name} = this;
				this.$formlyEvents.$emit(SET_MODEL_PROPERTY, {
					target: name,
					value: selectedValue
				});
			}
		},
		data() {
			return {
				isSubmitting: false,
				selectedValue: ''
			};
		},
		created() {
			this.$formlyEvents.$on(FORM_SUBMITTING, () => this.isSubmitting = true);
			this.$formlyEvents.$on([FORM_SUBMITTING_COMPLETE, FORM_SUBMITTING_ERROR], () => this.isSubmitting = false);
		},
		mounted() {
			this.$formlyEvents.$emit(ADD_MODEL_PROPERTY, this.name);
		},
		beforeDestroy() {
			this.$formlyEvents.$off([
				FORM_SUBMITTING,
				FORM_SUBMITTING_COMPLETE,
				FORM_SUBMITTING_ERROR
			]);
		}
	};
</script>

<template>
    <div :class="containerClasses()">
        <FormlyLabel :text="label" :inputId="name"/>
        <select :id="name"
                :disabled="isSubmitting"
                v-model="selectedValue"
                :class="selectClasses()"
                :aria-labelledby="`${name}Label`"
                @change="updateModel">
            <option value="" selected="true" disabled="true">{{placeholder}}</option>
            <option v-for="o in options"
                    :key="o.value.replace(' ', '')"
                    :value="o.value">
                {{o.text || o.value}}
            </option>
        </select>
    </div>
</template>
