<script>
import { getSubmitButtonClasses } from '../utils';
import { FORM_SUBMITTING,
    FORM_SUBMITTING_COMPLETE,
    FORM_SUBMITTING_ERROR } from '../constants';

export default {
    name: 'FormlySubmitButton',
    props: {
        text: {
            type: String,
            default: 'Submit'
        },
        color: {
            type: String,
            default: '#fb8c00'
        },
        fontColor: {
            type: String,
            default: 'white'
        }
    },
    computed: {
        buttonStyle() {
            return {
                backgroundColor: this.color,
                color: this.fontColor
            };
        }
    },
    methods: {
        buttonClasses() {
            return getSubmitButtonClasses(this.$formlyUiFramework);
        }
    },
    created() {
        this.$formlyEvents.$on(FORM_SUBMITTING, () => this.isSubmitting = true);
        this.$formlyEvents.$on([FORM_SUBMITTING_COMPLETE, FORM_SUBMITTING_ERROR], () => this.isSubmitting = false);        
    },
    beforeDestroy() {
        this.$formlyEvents.$off([
            FORM_SUBMITTING,
            FORM_SUBMITTING_COMPLETE,
            FORM_SUBMITTING_ERROR
        ]);
    },
    data() {
        return {
            isSubmitting: false
        };
    }    
};
</script>
<template>
<button id="formlySubmitBtn"
        type='submit'
        :style="buttonStyle"
        :class="buttonClasses()"
        :disabled="isSubmitting"
        ref="formlySubmitBtn">
    {{text}}
</button>
</template>