<script>
  const template = require('../sample.json');

  export default {
    name: 'App',
    methods: {
      updateTemplate() {
        this.sourceTemplate = JSON.parse(this.formattedTemplate);
      }
    },
    data() {
      return {
        sourceTemplate: {},
        formattedTemplate: ''
      };
    },
    created() {
      this.formattedTemplate = JSON.stringify(template, undefined, 2);
    }
  };
</script>

<template>
  <div class="container-fluid">
    <h1>
      Vue Formly
    </h1>
    <p class="lead">
      Dynamic HTML forms all from a JSON template
    </p>
    <p>
      Full HTML forms built from JSON files dynamically and updated instantly when the source template is updated.
    </p>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <p class="lead">
          Source
        </p>
        <textarea class="form-control" v-model="formattedTemplate" style="height:60vh"/>
        <button @click="updateTemplate" class="button btn-primary mt-3">
          Update
        </button>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          Result
        </p>
        <VueFormly :template="sourceTemplate" />
      </div>
    </div>
  </div>
</template>
